@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #e0e0e0;
    --main-color: #4040d0;
    --snd-color: #5050d0;
    --text-color: #080808;
    --gradient: #d9d9d9;
    --final-gradient: #c0c0c0;
    --line-color: #606060;
    --inputs: #4040d080;
    --text-input: rgba(0, 0, 0, 0.5);

    --common: 'REM', sans-serif;
    --title: 'Baskervville', serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background-color: #4040d0;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    font-family: var(--common);
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #5050d0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3%;
    color: #e0e0e0;
    user-select: none;
}

.header main {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header main span {
    display: flex;
    align-items: center;
}

.header main span input {
    padding: 3% 10%;
    border-radius: 3px;
    width: 300px;
    border: none;
    font-family: var(--common);
    color: #e0e0e0;
    background-color: #4040d0;
    border: 2px solid #6161d0;
}

.header main span input::placeholder {
    color: #e0e0e0;
    font-family: var(--common);
    font-weight: 400;
    letter-spacing: 1px;
}

.header main span input:focus {
    outline: none;
    border: 1px solid #d0d0d0;
}

.header main span i {
    font-size: 1.5em;
    position: relative;
    left: -30px;
}

.header main a {
    position: relative;
    display: flex;
    align-items: center;
    color: #e0e0e0;
    font-size: 1.5em;
    height: 100%;
    gap: 5px;
}

.header main a img {
    width: 50px;
    height: auto;
}

.header aside {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navig {
    font-size: 1em;
    color: #e0e0e0;
    font-family: var(--subtitle);
    font-weight: 400;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.navig:focus,
.navig:hover {
    color: #fff;
}

.navig:focus:after,
.navig:hover:after {
    width: 100%;
    left: 0%;
}

.navig:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.btn-login {
    border-radius: 5px;
    padding: 0.3rem 1.2rem;
    color: #080808;
    background-color: #e0e0e0;
    display: flex;
    gap: 10px;
    border: 1px solid #e0e0e0;
    transition: .2s ease-in-out;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    z-index: 99;
}

.btn-login i {
    position: relative;
    top: 1px;
    font-size: 1.2em;
}

.btn-login:hover {
    background-color: #4040d0;
    color: #e0e0e0;
}

article {
    /* border: 2px solid red; */
    position: relative;
    top: 60px;
    width: calc(100% - 200px);
    height: calc(100vh - 45px);
    overflow: scroll;
    color: #080808;
    background-color: #e0e0e0;
}

.sub {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    color: #d0d0d0;
    user-select: none;
    background-color: #d0d0d0;
}

.sub h2 {
    font-size: 1.2em;
}

#sidebar {
    height: calc(100% - 60px);
    position: relative;
    top: 60px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    background-color: #2a2a82;
    color: #e0e0e0;
    user-select: none;
    overflow-y: scroll;
    span {
        text-align: start;
    }
}

#sidebar::-webkit-scrollbar {
    width: 5px;
    border-radius: 0px;
    background-color: #4040d0;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
}

#sidebar h2 {
    position: relative;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    font-size: 1.2em;
    cursor: default;
}

#sidebar ul {
    list-style: none;
}

.dropdown-btn {
    width: 100%;
    background-color: #4848d0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    color: #e0e0e0;
    font-family: var(--common);
    font-size: 1em;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    transition: .2s ease;
}

.dropdown-btn i {
    font-size: 1.3em;
}

.dropdown-btn:hover {
    background-color: #e0e0e0;
    color: #080808;
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: .3s ease-in-out;

    >div {
        overflow: hidden;
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

#sidebar .sub-menu div li {
    width: 100%;
    padding: 3% 15%;
    font-size: 0.7em;
    transition: .2s ease;
    cursor: pointer;
}

#sidebar .sub-menu div li:nth-child(1) {
    background-color: #3535ac;
}

#sidebar .sub-menu div li:nth-child(2) {
    background-color: #4646c5;
}

#sidebar .sub-menu div li:nth-child(3) {
    background-color: #3535ac;
}

#sidebar .sub-menu div li:nth-child(4) {
    background-color: #4646c5;
}

#sidebar .sub-menu div li:nth-child(5) {
    background-color: #3535ac;
}

#sidebar .sub-menu div li:hover {
    background-color: #e0e0e0;
    color: #4040d0;
}

#sidebar .sub-menu div li button {
    all: unset;
}

.sidebarbottom {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.configs {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0.7rem 0;
    font-size: 0.8em;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.configs i {
    font-size: 1.3em;
    position: relative;
    top: 2px;
}

.configs:hover {
    background-color: #e0e0e0;
    color: #4040d0;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.user {
    flex-direction: row;
    padding: 0.3rem 0.3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.user:hover {
    background-color: #e0e0e0;
    color: #4040d0;
}

.user:hover .iconcircle {
    background-color: #4040d0;
    color: #e0e0e0;
}

.iconcircle {
    border-radius: 50%;
    background-color: #e0e0e0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: #4040d0;
}

.status {
    display: flex;
    gap: 5px;
}

.status b {
    font-size: 0.9em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
}

.status b a {
    font-size: 1.3em;
    background-color: #5050d0;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    width: fit-content;
    border-radius: 5px;
}

.user:hover .status b a {
    color: #e0e0e0;
}

.content h1 {
    font-size: 2em;
    color: #4040d0;
    font-weight: 600;
    padding: 3rem 5rem 2rem 5rem;
}

.un {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem 3rem 5rem;
}

.card {
    border-radius: 10px;
    border-top: 3px solid #4040d0;
    background-color: #fffefe;
    display: flex;
    width: 45%;
    flex-direction: column;
}

.title {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #a0a0a0;
    background-color: #efefef;
    width: 100%;
    align-items: center;
    justify-content: start;
    padding: 0.3rem 1.5rem;
    gap: 5px;
}

.title img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.title span {
    display: flex;
    flex-direction: column;
}

.title span p {
    font-size: 1em;
}

.title span b {
    font-size: 0.8em;
    position: relative;
    left: 5px;
    font-weight: 500;
}

.card ul {
    font-size: 0.8em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem 3rem;
}

.card>a {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: #4040d0;
    width: fit-content;
    border-radius: 5px;
    color: #e0e0e0;
    font-size: 0.9em;
    border: 1px solid #4040d0;
    transition: .2s ease-in-out;
}

.card>a:hover {
    background-color: #e0e0e0;
    color: #4040d0;
}

#window,
#window1,
#window2 {
    background-color: #efefef;
    width: 0rem;
    height: 0rem;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    display: block;
    transition: .2s ease-in-out;
    overflow: hidden;
}

#window.visible,
#window1.visible,
#window2.visible {
    width: 50rem;
    height: 30rem;
    padding: 1rem 2rem;
    border: 1px solid #a0a0a0;
    border-top: 5px solid #4040d0;
}

.slct {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    background-color: #4040d0;
    color: #e0e0e0;
    border-radius: 5px;
    justify-content: center;
    padding: 0.7rem;
    text-align: center;
}

#btn-close {
    color: #4040d0;
    cursor: pointer;
    width: auto;
    height: auto;
    border-radius: 2px;
    transition: .2s ease-in-out;
    padding: 0.2rem;
    position: relative;
    top: 2px;
}

#btn-close:hover {
    background-color: #d0d0d0;
}

#window h2,
#window1 h2,
#window2 h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4040d0;
    margin-bottom: 2rem;
}

.roul {
    display: flex;
    gap: 20px;
    height: 80%;
}

.slct p {
    font-size: 0.8em;
}

.slct i {
    font-size: 4em;
}

.slct a {
    background-color: #e0e0e0;
    padding: 0.7rem 1rem;
    color: #080808;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    position: relative;
    text-transform: uppercase;
    top: 10px;
    transition: .2s ease-in-out;
}

.slct a:hover {
    background-color: #4040d0;
    color: #e0e0e0;
}

.slct h4 {
    font-size: 1.6em;
}

.quiz-container {
    min-width: 50%;
    margin: 3em 4em;
    border-radius: 8px;
    text-align: left;
    border-radius: 10px;
    border-top: 3px solid #4040d0;
    background-color: #fffefe;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 32px;
        font-weight: 500;
        margin: 18px 0;
    }
}

#quizForm {
    height: 100%;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question {
    margin-bottom: 1.2em;
    font-weight: 300;
    p {
        font-weight: 500;
    }
}

button {
    background: #28a745;
    width: fit-content;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#texto {
    width: 90%;
    height: fit-content;
    margin: 2em 3em;
    /* margin-bottom: 100px; */
    border-radius: 8px;
    text-align: justify;
    border-radius: 10px;
    border-top: 3px solid #4040d0;
    /* color: #4848d0; */
    background-color: #fffefe;
    display: flex;
    flex-direction: column;
    padding: 1em 4em 4em 2em;
    h1 {
        text-transform:uppercase;
        font-size: 32px;
        color: #4040d0;
        margin: 0.4em 0 0.8em;
    }
    h2 {
        font-weight: 600;
        font-size: inherit;
        margin-bottom: 0.5em;
    }
    p {
        margin-bottom: 0.5em;
    }
    i {
        color: #2a2a82;
    }
}
.spacing {
    /* width: 60%; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}
